[package]
name = "limbo"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.48.0", features = ["full"] }
iced = { version = "0.13.1", features = ["tokio", "image", "svg", "advanced"] }
iced_layershell = "0.13.7"
rust-embed = "8.9.0"
jiff = "0.2.16"

niri-ipc = { version = "25.8.0", optional = true }
hyprland = { version = "0.4.0-beta.3", optional = true }
sysinfo = "0.37.2"

[features]
default = ["hyprland", "niri"]
hyprland = ["dep:hyprland"]
niri = ["dep:niri-ipc"]
